{% load static tailwind_tags %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- gsap scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <title>home</title>
</head>

<body class="font-roboto">
    <div class="flex flex-col items-center justify-center bg-background min-h-svh">
        <div class="container flex flex-col px-4 py-8 mx-auto text-center ">
            <h1 class="mb-4 text-4xl font-bold">Welcome to Vinex- VIN decoder</h1>
            <p>We are a team of wine enthusiasts dedicated to providing you with the best VIN decoding experience.</p>
        </div>
        <div class="">
            <form action="/decode" method="get" class="flex flex-col">
                {% csrf_token %}
                <input type="text">
                <button type="submit"
                    class="self-center px-5 py-1 mt-2 capitalize rounded-xl text-background w-fit bg-accent">
                    decode
                </button>
            </form>
        </div>
    </div>
</body>

</html>