{% load static tailwind_tags %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- gsap scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <title>home</title>
</head>

<body class="font-roboto">
    <div class="flex flex-col items-center justify-center bg-background min-h-svh">
        <div class="container flex flex-col px-4 py-8 mx-auto text-center ">
            <h1 class="mb-4 text-4xl font-bold cursor-pointer"> <a href="{% url 'vin_decoder:home' %}">Welcome to
                    Vinex-USA
                    car VIN decoder</a></h1>
            <p>We are a team of car enthusiasts dedicated to providing you with the best VIN decoding experience.</p>
        </div>
        <!-- #decode form butoon and input -->
        <div>
            <form method="get" class="flex flex-col gap-4 ">

                <div class="flex flex-col items-center text-center">
                    {{ form_vin.vin_number }}

                    {% if form_vin.vin_number.errors %}
                    <span class="mt-1 text-sm text-red-500 max-w-fit">
                        {{ form_vin.vin_number.errors.0 }}
                    </span>
                    {% endif %}

                    {% if form_vin.vin_number.help_text %}
                    <span class="mt-1 text-xs text-gray-400">
                        {{ form_vin.vin_number.help_text }}
                    </span>
                    {% endif %}
                </div>

                <button type="submit"
                    class="self-center px-5 py-2 mt-2 text-white capitalize transition-opacity rounded-xl bg-accent hover:opacity-90">
                    decode
                </button>
            </form>
        </div>


        <!-- #results section car info-->
        <div>
            {% if message_error %}
            <div class="">
                <strong>Error:</strong> {{ message_error }}
            </div>


            {% elif car_info %}
            <h2>Results for: {{ vin }}</h2>
            <p>Make: {{ car_info.Make }}</p>

            {% if car_info.Model %}
            <p>Model: {{ car_info.Model }}</p>
            <p>Year: {{ car_info.ModelYear }}</p>
            <p>Engine: {{ car_info.DisplacementL }} L</p>
            <p>Cylinders: {{ car_info.EngineCylinders }}</p>
            <p>Power: {{ car_info.EngineHP }} hp</p>
            <p>Engine Model: {{ car_info.EngineModel }}</p>
            <p>Drive Type: {{ car_info.DriveType }}</p>


            <p>Get info</p>

            <!-- buttons for AI typical issues, price range and millage range -->
            <form hx-post="{% url 'vin_decoder:get_car_issues' %}" hx-target="#partial_typical_issues_response"
                hx-swap="innerHTML">
                {% csrf_token %}
                <input type="hidden" name="vin" value="{{ vin }}">
                <input type="hidden" name="typical_issues"
                    value="{{ car_info.Make }} {{ car_info.Model }} {{ car_info.ModelYear }} {{ car_info.DisplacementL }}Liter {{ car_info.EngineHP }} hp">

                <button type="submit" class="px-5 py-2 mt-2 text-white rounded-xl bg-accent" value="common_issues"
                    name="action">
                    Check Common issues
                </button>
                <button type="submit" class="px-5 py-2 mt-2 text-white rounded-xl bg-accent" value="price_range"
                    name="action">
                    Check price range
                </button>
                <button type="submit" class="px-5 py-2 mt-2 text-white rounded-xl bg-accent" value="millage_range"
                    name="action">
                    Check millage range
                </button>
            </form>
            <!-- partial redner -->
            <div id="partial_typical_issues_response" class="mt-4">
            </div>
            {% else %}
            <p>No additional information available for this VIN.</p>
            {% endif %}


            {% elif vin %}
            <p>VIN must be exactly 17 characters: {{ vin }}</p>
            {% endif %}
        </div>


    </div>
</body>

</html>